{% extends "templates/web2.html" %} {% from "erpnext/templates/includes/macros.html" import product_image_square %} {% block page_content %}

<!-- start: HEADER -->
    
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">

      <!-- start: REVOLUTION SLIDERS -->
      <section class="fullwidthbanner-container">
        <div class="fullwidthabnner">
          <ul>

            <!-- start: SECOND SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
              <img src="assets/erpstyle/images/sliders/slidebg2.png"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
              <div class="caption lft slide_title slide_item_left"
              data-x="0"
              data-y="105"
              data-speed="400"
              data-start="1500"
              data-easing="easeOutExpo">
                أنظمة تعمل في كل مكان
              </div>
              <div class="caption lfl slide_subtitle slide_item_left"
              data-x="0"
              data-y="180"
              data-speed="400"
              data-start="2000"
              data-easing="easeOutExpo">
                أفضل التقنيات المتوفرة
              </div>

              <div class="caption lft"
              data-x="680"
              data-y="85"
              data-speed="500"
              data-start="1000"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/responsive1.png" alt="Image 1">
              </div>
              <div class="caption lfb"
              data-x="770"
              data-y="115"
              data-speed="500"
              data-start="1300"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/responsive2.png" alt="Image 1">
              </div>
              <div class="caption lft"
              data-x="820"
              data-y="140"
              data-speed="500"
              data-start="1600"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/responsive3.png" alt="Image 1">
              </div>
              <div class="caption lfb"
              data-x="880"
              data-y="160"
              data-speed="500"
              data-start="1900"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/responsive4.png" alt="Image 1">
              </div>
            </li>
            <!-- end: SECOND SLIDE -->
            <!-- start: THIRD SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
              <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
              <img src="assets/erpstyle/images/sliders/slidebg3.png"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
              <div class="caption lft slide_title slide_item_left"
              data-x="0"
              data-y="105"
              data-speed="400"
              data-start="1500"
              data-easing="easeOutExpo">
                تصاميم جذابة و قياسية
              </div>
              <div class="caption sft slide_subtitle slide_item_left"
              data-x="0"
              data-y="180"
              data-speed="400"
              data-start="2000"
              data-easing="easeOutExpo">
                تجربة مستخدم رائعة
              </div>

              <div class="caption sfr"
              data-x="800"
              data-y="115"
              data-speed="500"
              data-start="1000"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/device1.png" alt="Image 1">
              </div>
              <div class="caption sfr"
              data-x="710"
              data-y="225"
              data-speed="500"
              data-start="1300"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/device2.png" alt="Image 1">
              </div>
              <div class="caption sfr"
              data-x="860"
              data-y="300"
              data-speed="500"
              data-start="1600"
              data-easing="easeOutBack">
                <img src="assets/erpstyle/images/sliders/device3.png" alt="Image 1">
              </div>
            </li>
            <!-- end: THIRD SLIDE -->
            <!-- start: FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
              <img src="assets/erpstyle/images/sliders/slidebg1.png"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
              <div class="caption lft slide_title slide_item_left"
              data-x="0"
              data-y="105"
              data-speed="400"
              data-start="1500"
              data-easing="easeOutExpo">
                أطلق ابداعاتك
              </div>
              <div class="caption lft slide_subtitle slide_item_left"
              data-x="0"
              data-y="180"
              data-speed="400"
              data-start="2000"
              data-easing="easeOutExpo">
                انطلق معنا
              </div>

              <div class="caption sfr"
              data-x="720"
              data-y="55"
              data-speed="700"
              data-start="1000"
              data-easing="easeOutExpo"  >
                <img src="assets/erpstyle/images/free-woman.png" alt="Image 1">
              </div>
            </li>
            <!-- end: FIRST SLIDE -->
          </ul>
        </div>
      </section>
      <!-- end: REVOLUTION SLIDERS -->
      <section>
        <!-- start: CORE BOXES CONTAINER -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="core-box">
                <div class="heading">
                  <i class="clip-cogs circle-icon"></i>
                  <h2>أنظمة ERP & GRP</h2>
                </div>
                <div class="content">
                  أنظمة إدارة موارد المؤسسات و الحكومات
                </div>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="core-box">
                <div class="heading">
                  <i class="clip-clip circle-icon"></i>
                  <h2>بناء أنظمة خاصة</h2>
                </div>
                <div class="content">
                  نوفر لكم بناء أنظمة خاصة باحتياجاتكم
                </div>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="core-box">
                <div class="heading">
                  <i class="clip-mobile circle-icon"></i>
                  <h2>تطبيقات الموبايل</h2>
                </div>
                <div class="content">
                  نوفر لكم حلول بناء تطبيقات للهواتف الذكية
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- end: CORE BOXES CONTAINER -->
      </section>
      
      <section class="wrapper padding50">
        <!-- start: ABOUT US CONTAINER -->
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2 style="text-align: right;">من نحن</h2>
              <hr class="fade-left">
              <p style="text-align: right;">
تيسير التقنية تسعـى لتقديم حلـول تقنيـة مبتـكـرة عبر فريقها ذو الخبرات المتراكمة على مر السنين في العمل في القطاعات الحكومية و الخاصة في عدة دول عربية و أجنبية قمنا فيها بتقديم حلول ذات جودة تنافسية عالمية نفخر بكونها صنعت في السعودية ككل أو كجزء.
.
              </p>
              <p style="text-align: right;">
                <br>
                <b>رؤيتنا</b>
                <br>
جمع خبرات تقنية عالمية متنوعة لتقديم خدمات احترافية تنافسية.
                <br><br>
                <b>رسالتنا</b>
                <br>
تقديم حلول تقنية ذات جودة عالية في زمن قياسي بطرق ابتكارية.               <br>
              </p>
              <hr class="fade-left">
            </div>
            <div class="col-sm-6">
              <ul class="icon-list animate-group">
                <li>
                  <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300"}'></div>
                  <i class="clip-stack-empty circle-icon circle-teal animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                  <div class="icon-list-content">
                    <h4>سر تميزنا</h4>
                    <p>
سر نحاح أي منظمة هو فريق عملها, وكلما كان فريق العمل متعدد المهارات و ذو خبرات كبيرة و كان هناك تناغم بينهم كلما انعكس ذلك على جودة و سرعة العمل                    
</p><p>
لذلك لا مكان في فريق عملنا لمن لا يملك خبرة كبيرة و مهارات متعددة و كان مستعدا للتناغم مع باقي فريق العمل
</p>
                  </div>
                </li>
                <li>
                  <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                  <i class="clip-paperplane circle-icon circle-green animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                  <div class="icon-list-content">
                    <h4>لماذا تيسير التقنية ؟</h4>
                    <p>
السرعة , الجودة , التميز , الابتكار , هذه هي مفاتيح نجاح أعمالنا و التي سنقدمها لكم بقالب من الاحترافية , فالجميع يبحث عن شركات يثق بها لإنهاء أعمالهم بشكل احترافي متكامل.                   </p>
                  </div>
                </li>
                <li>
                  <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                  <i class="clip-droplet circle-icon circle-bricky animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                  <div class="icon-list-content">
                    <h4>كيف ندير العمل ؟</h4>
                    <p>
نعتمد على أفضل المنهجيات و المماراسات العالمية في مجال ادارة العمل و متابعته ابتداء من توفير (PMO) لمتابعة العمل مع (مدراء المشاريع) الموزعين في المشروع للعمل ضمن نطاق يعمل بمنهجيات عالمية.                   </p>
<p>
فريقنا متمرس و يعي تماما المنهجيات مثل (ITIL) و (COBIT) و (ISO/IEC 20000) و غيرها من المنهجيات و الطرق و الاساليب العالمية لإدارة العمل يشكل احترافي.
</p>
                  
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end: ABOUT US CONTAINER -->
      </section>
      <section class="wrapper wrapper-grey padding50">
        <!-- start: PORTFOLIO CONTAINER -->
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="flexslider" data-plugin-options='{"controlNav":false,"sync": "#carousel"}'>
                <ul class="slides">
                  <li>
                      <img src="assets/erpstyle/images/image01.jpg" />
                  </li>

                </ul>
              </div>
              <div id="carousel" class="flexslider animate-group" data-plugin-options='{"itemWidth": 120, "itemMargin": 5}'>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="section-content">
                <h2>تنوع الخبرات</h2>
                <hr class="fade-right">
                <p>
نفتخر في تيسير التقنية بأن فريق العمل متعدد المواهب و المهارات في جميع لغات البرمجة و قواعد البيانات المتوفرة , و نحن نثق تماما بأن لكل نظام حالة خاصة من ناحية اختيار التقنية الازمة وفقا لاحتياجاته               </p>


                <hr class="fade-right">
              </div>
            </div>
          </div>
        </div>
        <!-- end: PORTFOLIO CONTAINER -->
      </section>
      <section class="wrapper padding50">
        <!-- start: CLIENTS CONTAINER -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="center">شركاء في نجاحنا</h2>
              <h4 class="center">نعمل جنبا إلى جنب مع كبريات الشركات العالمية التي توفر حلول ذات اعتمادية رائعة كانوا سببا في نجاحنا و تميزنا</h4>
            </div>
            <div class="flexslider col-md-12 animate-group" data-plugin-options='{"directionNav":false, "animation":"slide", "slideshow": false}' data-animation-interval="100">
              <ul class="slides">
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/drupal.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/erpnext.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/frappe.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/ubuntu.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/laravel.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/odoo.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/magento.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/jquery.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/wordpress.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/woocommerce.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/envato.png" alt="">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="assets/erpstyle/images/os.png" alt="">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end: CLIENTS CONTAINER -->
      </section>
      <section class="wrapper wrapper-grey">
        <!-- start: GENERIC CONTENT CONTAINER -->
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <img src="assets/erpstyle/images/iphoneIpad-495x400.png" class="img-responsive animate-if-visible" data-animation-options='{"animation":"tada", "duration":"600"}'>
            </div>
            <div class="col-sm-6">
              <h2>شاركنا النجاح</h2>
              <hr class="fade-right">
              <p>
                نعتمد في منتجاتنا التي يتم بنائها خصيصا وفق احتياجاتكم على شركاء عالميين ذو خبرة كبيرة و عراقة في السوق العالمي و المحلي و بذلك نقدم لكم أفضل خلول ذات اعتمادية عالية
              </p>
              <p>
              اتصل بنا اليوم سنسعد باستفساراتكم و اسئلتكم في الحلول التي يمكننا توفيرها لكم
              </p>
  
              <hr class="fade-right">
            </div>
          </div>
        </div>
        <!-- end: GENERIC CONTENT CONTAINER -->
      </section>
      <section class="wrapper" style="min-height:400px; background-image: url('assets/erpstyle/images/photodune-4043508-3d-modern-office-room-l.jpg')" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="center white">نحن نعمل بجد من أجلكم</h2>
              <p class="center white">
                معايير عالمية و اعتمادية عالية
              </p>
            </div>
          </div>
          <div class="row animate-group">
            <div class="col-sm-4">
              <div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
                <i class="icon-box-icon fa fa-pencil"></i>
                <h3 class="icon-box-title">التصميم</h3>
                <div class="icon-box-content">
                  <p>
                    نستخدم أفضل المعايير ذات الجودة العالية و الشكل الجمالي الجذاب
                    <br>

                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
                <i class="icon-box-icon fa fa-code"></i>
                <h3 class="icon-box-title">التطوير</h3>
                <div class="icon-box-content">
                  <p>
فريق محلي بخبرات عالمية للعمل على أنظمتكم ضمن معايير عالمية ودقيقة                    <br>

                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
                <i class="icon-box-icon fa fa-bug"></i>
                <h3 class="icon-box-title">الدعم</h3>
                <div class="icon-box-content">
                  <p>
بالاضافة إلى عشرات الالاف من المطورين حول العالم نوفر لكم دعم فني على مدار الساعة                   <br>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    </div>
    <!-- end: MAIN CONTAINER -->
   
    <a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
    
{% endblock %}
 
    