<html>
<head>
<meta charset="UTF-8"></meta>
<link href='https://fonts.googleapis.com/css?family=Lateef&subset=arabic,latin' rel='stylesheet' type='text/css'>

</head>
<body >
<div id=":30" class="ii gt m1535664e88960eec adP adO"><div id=":2z" class="a3s" style="overflow: hidden;"><u></u>









  <div style="margin:0;padding:0;background-color:#f0f0f0">

    <div style="background-color:#f0f0f0">
      <table style="border-collapse:collapse;table-layout:fixed;color:#bdbdbd;font-family:Ubuntu,sans-serif" align="center">
        <tbody><tr>
          <td style="padding:10px 0 5px 0;vertical-align:top" width="300">

          </td>
          <td style="text-align:right;padding:10px 0 5px 0;vertical-align:top" width="300">

          </td>
        </tr>
      </tbody></table>
      <table style="border-collapse:collapse;table-layout:fixed;Margin-left:auto;Margin-right:auto" align="center">
        <tbody><tr>
          <td style="padding:0" width="600">
            <div style="font-size:26px;line-height:32px;Margin-top:6px;Margin-bottom:20px;color:#c3ced9;font-family:Roboto,Tahoma,sans-serif">
              <div style="font-size:0px!important;line-height:0!important" align="center"><img style="min-height:auto;width:100%;border:0;max-width:191px" src="http://erpdevelopers.team/assets/erpsystem/images/logo.png" alt="" width="191" height="51" class="CToWUd"></div>
            </div>
          </td>
        </tr>
      </tbody></table>
      <table style="border-collapse:collapse;table-layout:fixed;Margin-left:auto;Margin-right:auto;word-wrap:break-word;word-break:break-word;background-color:#ffffff" align="center">
        <tbody><tr>
          <td style="padding:0;text-align:left;vertical-align:top;color:#787778;font-size:14px;line-height:21px;font-family:Ubuntu,sans-serif" width="600">

            <div style="Margin-left:20px;Margin-right:20px;Margin-top:24px">
      <h1 style="Margin-top:0;Margin-bottom:20px;font-style:normal;font-weight:normal;color:#565656;font-size:26px;line-height:34px;text-align:center">تحديث الحالة</h1>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px;direction: rtl; text-align: right;">
      <h3 style="Margin-top:0;Margin-bottom:12px;font-style:normal;font-weight:normal;color:#565656;font-size:20px;line-height:28px;text-align:right">تم تحديث حالة الطلب {{doctype}} الذي يحمل رقم {{name}} الى {{state}}</h3>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="display:block;font-size:2px;line-height:2px;width:40px;background-color:#bdbdbd;Margin-left:260px;Margin-right:260px;Margin-bottom:20px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px">
      <div style="display:block;font-size:2px;line-height:2px;width:40px;background-color:#bdbdbd;Margin-left:260px;Margin-right:260px;Margin-bottom:20px">&nbsp;</div>
    </div>


            <div style="Margin-left:20px;Margin-right:20px">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>

            <div style="Margin-left:20px;Margin-right:20px;Margin-bottom:24px">
      <p style="Margin-top:0;Margin-bottom:0;font-size:16px;line-height:24px;text-align:right">{{_("Thank you")}},</p>
    </div>

          </td>
        </tr>
      </tbody></table>

      <div style="font-size:10px;line-height:10px">&nbsp;</div>

      <table style="border-collapse:collapse;table-layout:fixed;Margin-right:auto;Margin-left:auto;border-spacing:0" width="600" align="center">
        <tbody><tr>
          <td style="padding:0 0 40px 0">
            <table style="border-collapse:collapse;table-layout:auto;border-spacing:0" align="right">
              <tbody><tr>
                <td style="padding:0">




                </td>
              </tr>
            </tbody></table>
            <table style="border-collapse:collapse;table-layout:fixed;border-spacing:0;color:#bdbdbd;font-family:Ubuntu,sans-serif" width="400">
              <tbody><tr>
                <td style="padding:0;font-size:12px;line-height:19px">
                  <table style="border-collapse:collapse;table-layout:fixed"><tbody><tr>
                    </tr></tbody></table>
                  <div style="Margin-top:26px">
                    <div><a href="http://erpdevelopers.team/" target="_blank">http://erpdevelopers.team/</a></div>
                  </div>
                  <div style="Margin-top:18px">
                    <div>التسجيل في النظام</div>
                  </div>
                  <div>
                  </div>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <img style="border:0!important;display:block!important;min-height:1px!important;width:1px!important;margin:0!important;padding:0!important" src="https://ci5.googleusercontent.com/proxy/fDkrrcfAstgjZ6Xrjr0n0SCa5AIXCRPggDbQrNsgGpf-pg5s-K7cavL8GhYQCX5Lq0VOSAfe5vTLRnOsMokbETKa4BaRO42UfeY3=s0-d-e1-ft#https://gamemadness.cmail20.com/t/i-o-dkidjyt-l/o.gif" width="1" height="1" border="0" alt="" class="CToWUd"><u></u>

      <u></u><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">

</div></div><div class="adL">


</div></div></div>
</body>
</html>
