html,
body {
    background-color: #EEE;
    font-family: sans-serif !important;
    font-size: 14px;
    /*background: url(http://demo1.mbiolims.com/common/images/logo_shadow.png) #EEE no-repeat 10% 30%;*/
    background-color: #EEEEEE;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 1 00%;
}

.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    min-height: 400px;
    width: 75%;
    min-width: 400px;
    max-width: 900px;
    margin: 10rem;
    border-radius: 3px;
    box-shadow: 1px 1px 50px 0px #656565;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=50);
}

.login-wrapper div {
    width: 47.5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper div.login-form {
    height: 100%;
    order: 1;
    width: 52%;
    background-color: #F9F9F9;
}

.login-wrapper div.login-form .user-avatar {
    margin-top: 50px;
    height: 100px;
    margin-bottom: 10%;
    text-align: center;
    width:100%;
}

.login-wrapper div.login-form .user-avatar .avatar {
    width: 130px;
    height: 100px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.login-wrapper div.login-form .user-avatar p.avatar-help {
    font-size: 1em;
    color: #52b9d0;
}

.login-wrapper div.login-form .login-field {
    position: relative;
    width: 100%;
}

.login-wrapper div.login-form .login-field .user-login,
.login-wrapper div.login-form .login-field .user-password {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 5px auto;
    border: 1px solid #EEE;
    border-bottom: 1px solid #CCC;
    padding: 5px 5px 5px 30px;
    box-sizing: border-box;
}

.login-wrapper div.login-form .login-field .user-login + .glyphicon,
.login-wrapper div.login-form .login-field .user-password + .glyphicon {
    position: absolute;
    top: 46px;
    left: 27px;
    color: #CCC;
    transition: color 0.3s ease-out;
}

.login-wrapper div.login-form .login-field .user-login:focus + .glyphicon,
.login-wrapper div.login-form .login-field .user-password:focus + .glyphicon {
    color: #66C3DC;
}

.login-wrapper div.login-form input[type=submit] {
    background-color: #66C3DC;
    color: #FFF;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 5px auto;
    padding: 5px 20px;
    font-size: 2em;
    transition: background 0.3s ease-out;
}

.login-wrapper div.login-form input[type=submit]:disabled {
    background-color: #CCC;
}

.login-wrapper div.login-form input[type=submit]:active {
    color: #fff;
    background-color: #2079ac;
    transition: none;
/*    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;*/
}

.login-wrapper div.login-form .forget-passsword {
    margin-top: 10%;
}

.login-wrapper div.login-form .maintenance {
    display: none;
}

.login-wrapper div.login-form.maintenance-mode:not(.maintenance) {
    display: none;
}

.login-wrapper div.login-form.maintenance-mode .maintenance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-wrapper div.login-form.maintenance-mode .maintenance p:first-child .glyphicon {
    width: 30%;
    text-align: center;
    padding: 5%;
    border-radius: 50%;
    background-color: #5CB0E1;
    color: #FFF;
    font-size: 3em;
    margin: 10% auto;
}

.login-wrapper div.login-form.maintenance-mode .maintenance p.notify-maintenance {
    font-size: 0.8em;
}

.login-wrapper div.login-form.maintenance-mode .maintenance p.notify-maintenance .glyphicon {
    display: inline;
}

.login-wrapper div.login-form.maintenance-mode .maintenance * {
    display: block;
}

.login-wrapper div.login-form.maintenance-mode .maintenance .maintenance-connection {
    align-self: flex-end;
}

.login-wrapper div.login-info {
    height: 50%;
    order: 2;
    

background: #bdc3c7;
background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);
background: linear-gradient(to left, #52b9d0 , #52b9d0);    
/*linear-gradient(to left, #2f87c1 , #2c3e50)*/

    /*background-color: #34445E;*/
    /*background: url(../img/bg.jpg);*/
    color: #FFF;
    justify-content: space-between;
/*    background-image: url('http://www.modul-bio.com/wp-content/uploads/2015/04/10924325-576x413.jpg');
  background-size: cover;
  background-position: 50% 50%;*/
}

/*.login-wrapper div.login-info .client-logo {
    width: 220px;
    height: 170px;
    background-image: url("../img/tayseer-logo-.png");
    background-size: cover;
    border-radius: 5%;
    margin-bottom: 20px;
}*/

.login-wrapper div.application-info {
    height: 50%;
    order: 3;
    justify-content: flex-end;
    /*background-color: #545454;*/
    
/*background: #bdc3c7; 
background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50); 
background: linear-gradient(to left, #bdc3c7 , #34445E); 
*/

background: #bdc3c7;
background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);
background: linear-gradient(to left, #52b9d0
 , #52b9d0);  

    /*background: url(../img/bg.jpg);*/
    color: #FFF;
}

.login-wrapper div.application-info .application-logo {
    margin-bottom: 150px;
    text-align: center;
}

.login-wrapper div.application-info .copyright {
    text-align: justify;
    font-size: 1em;
    margin-top: 5%;
}

@media (max-width: 800px) {
    .login-wrapper {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 3px;
        min-height: 100%;
    }
    .login-wrapper div {
        width: 40%;
    }
    .login-wrapper div.login-form {
        width: 60%;
    }
}

@media (max-width: 550px) {
    div.login-wrapper {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }
    div.login-wrapper div {
        width: 100% !important;
        height: auto !important;
    }
    div.login-wrapper div.login-form {
        order: 2;
    }
    div.login-wrapper div.login-info {
        order: 1;
    }
    div.login-wrapper div.application-info {
        order: 3;
    }
}

.centering {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px #fff;
}

.logo{
  width: 300px;
}
.login-form{
width:100%}
.form-login{
width:100%
}

.application-logo {
        margin-bottom: 260px !important;
   
}

@-moz-document url-prefix() {
    .application-logo {
        margin-bottom: 80px !important;
   
