{% extends "templates/master.html" %}

{% block content %}
    <!-- BEGIN PAGE HEAD-->
   
  <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>البوابة الرئيسية</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/portal">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>

    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->

    <div id="js-grid-juicy-projects" class="cbp">
        {% for form in forms%}

        <div class="cbp-item graphic" style="margin-left: 17px !important;">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/erpstyle/global/img/portfolio/600x600/013.jpg" alt=""></div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="/{{ _(form['route']) }}?new=1" class="cbp-l-caption-buttonLeft  btn red uppercase"
                               rel="nofollow">جديد</a>
                            <a href="/portal/portal?doc={{_(form['name']) }}"
                               class=" cbp-l-caption-buttonRight  btn red uppercase"
                               data-title="Dashboard<br>by Paul Flavius Nechita">قائمة</a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">{{_(form.title)}}</div>
           <!-- <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">{{_(form.name)}}</div>-->
        </div>

        {% endfor %}
    </div>
                    <!-- END PAGE BASE CONTENT -->
                
                <!-- END CONTENT BODY -->
           
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
           
<!-- END PAGE BASE CONTENT -->
       
{%endblock%}
