{% extends "templates/master.html" %}
{% block content %}
    <div class="tiles">
        <a href="/portal/forms">
            <div class=" tile bg-blue-steel">
                <div class="tile-body">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> التطبيقات</div>
                    <div class="number"> {{forms_number}}</div>
                </div>
            </div>
        </a>


        <a href="/portal/charts">
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                </div>
                <div class="tile-object">
                <div class="number"> 3</div>
                    <div class="name"> الرسومات</div>
                    
                </div>
            </div>
        </a>

                    {% if frappe.user != 'Guest' %}
            {% set user_doc = frappe.get_doc("User", frappe.user) %}
                {% if user_doc and user_doc.user_type=='System User' %}


        <a href="/desk">
            <div class="tile bg-purple-studio">
                <div class="tile-body">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> سطح المكتب</div>
                    <div class="number">    </div>
                </div>
            </div>
        </a>
    </div>
                {% elif user_doc and user_doc.user_type=='Website User' %}
                {% endif %}
            {% endif %}



{%endblock%}