{% extends "templates/master.html" %}
{% block content %}


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title row">
                        <div class="caption font-dark col-md-8" >
                             <ol class="breadcrumb">
            <li class="caption-subject bold uppercase"><a href="/portal">{{_("Home") }}</a></li> /
            <li  class="caption-subject bold uppercase"><a href="/portal/forms" >{{_("Applications") }}</a></li> /
            <li  class="caption-subject  uppercase"><a class="active">{{ _(doc) }}</a></li>
                             </ol>
                        </div>

                        <div class="col-md-2">
                        <div class="btn-group pull-right">


                            <a href="/{{arg}}?new=1">
                                  <button class="btn green  btn-outline" >New</button>
                            </a>

                         </div>
                        </div>


                        <div class="col-md-2 ">
                            <div class="btn-group pull-right">
                                 <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>


                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">

                        </div>
                        <table class=" custom-table table table-striped table-bordered table-hover table-checkable order-column"
                               id="sample_1">
                            <thead>
                            <tr>
                                {% for field in columns %}
                                <th>{{ _(field) }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for field in table %}
                            <tr>
                                {% for element in field %}

                                <td>{{ _(element) }}</td>

                                {% endfor %}
                                <td ><a class="btn btn-default btn-xs" href="/{{ arg }}?name={{ field[0] }}">{{_("Show")
                                    }}</a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->



        </div>
    {%endblock%}
